body {
  font-family: 'Share Tech Mono', monospace;
  margin: 0;
  padding: 0;
  background-color: #141414;
}

.container {
  display: grid;
  place-items: center;
  height: 20vh;
  max-width: 600px;
  margin: 0 auto;
 }

.icons {
  margin-top: 20px;
}

.icons a {
  margin: 0 10px;
}

.icons img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  filter: invert(75%) sepia(62%) saturate(2244%) hue-rotate(59deg) brightness(106%) contrast(108%);
}

p {
  text-align: center;
}

/* i am not shortening this because i'm fucking stupid */


.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(34, 29, 29, 0) 50%, rgba(27, 26, 26, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 0, 0, 0.02), rgba(31, 31, 32, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}