body {
  font-family: 'catv_6x12_9normal';
  margin: 0;
  padding: 0;
  background-color: #141414;
}

.container {
  display: grid;
  justify-items: center;
  align-items: center;
  animation: textCrt 1.8s infinite;
}
 .icons {
  margin-top: 20px;
}

.icons a {
  margin: 0 10px;
  display: inline-block;
}

.icons img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  filter: invert(75%) sepia(62%) saturate(2244%) hue-rotate(59deg) brightness(106%) contrast(108%);
  transition: transform 0.2s ease-in-out;
}

.icons a:hover img {
  transform: scale(1.2);
}

p {
  text-align: center;
  animation: textCrt 1.8s infinite;
}

@keyframes flicker {
  0%, 100% {
    opacity: 0;
  }
  10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {
    opacity: 0.8;
  }
  5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
    opacity: 0.1;
  }
}

@keyframes textCrt {
  0%, 100% {
    text-shadow: 0.45px 0 1px rgba(19, 46, 250, 0.5), -0.44px 0 1px rgba(255, 39, 107, 0.3), 0 0 3px;
  }
  5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
    text-shadow: 2.9px 0 1px rgba(19, 46, 250, 0.5), -2.8px 0 1px rgba(255, 39, 107, 0.3), 0 0 3px;
  }
  10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {
    text-shadow: 0.04px 0 1px rgba(19, 46, 250, 0.5), -0.03px 0 1px rgba(255, 39, 107, 0.3), 0 0 3px;
  }
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 1s infinite;
}

@font-face {
  font-family: 'catv_6x12_9normal';
  src: url('fonts/catv_6x12_9_normal-webfont.woff2') format('woff2'),
       url('fonts/catv_6x12_9_normal-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;

}

.animations-stopped * {
  animation: none !important;
  text-shadow: none !important;
}

#animationCheckbox {
  position: absolute;
  opacity: 0;
}

/* stuff */
#checkboxLabel {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  z-index: 1;
  top: 150%;
}


#animationCheckbox + #checkboxLabel::before {
  content: '';
  position: absolute;
  left: 0;
  top: 60%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: green;
  border: 2px solid green;
  cursor: pointer;
  z-index: 2;
}


#animationCheckbox + #checkboxLabel::after {
  content: '\2713';
  position: absolute;
  left: 5px;
  top: 60%;
  transform: translateY(-50%);
  font-size: 16px;
  color: white;
  display: none;
  z-index: 3;
}


#animationCheckbox:checked + #checkboxLabel::after {
  display: block;
}